<div class="simplecheckout-block" id="filterit">
    {% if header %}
    <div class="checkout-heading">{{ header }}</div>
    {% endif %}
    <div class="simplecheckout-block-content">
        <p>{{ instruction }}</p>
    </div>
</div>