<div class="row row-padding-top">
	<div class="col-12">
		<div class="us-html-box">
			{% if heading_title %}
			<h1>{{ heading_title }}</h1>
			{% endif %}
			<div class="us-html-box-text">{{ html }}</div>
		</div>
	</div>
</div>