#back-top, #us_fixed_contact_button, .us-fixed-contact-pulsation, .us-module-item:hover .us-module-cart-btn, .us-module-btn:hover, .us-module-btn-green, .us-footer-form-top-buttton, .oct-fixed-bar-link:hover, .oct-fixed-bar-quantity, .pagination li.active span, .pagination li a:hover, .us-product-btn-active, .us-product-btn:hover, .us-product-quantity-btn:hover, .us-categories-wall-item:hover hr, .compare-wishlist-btn:hover, .image-additional-box .owl-carousel .owl-nav button:hover, #us_livesearch_close, .us-product-option .radio label.selected,.simplecheckout-cart-buttons .button,.simplecheckout-button-right .button,#simplecheckout_button_login, .us-news-stickers-date {background:#71BE00;}
nav .dropdown-menu button:hover, .user-dropdown-menu .us-dropdown-item:hover, .us-categories-wall-top-link:hover .us-categories-wall-title, .us-module-item:hover .us-module-title a, .us-module-buttons-link:hover i, .us-reviews-block:hover .us-reviews-block-title, .subcat-item:hover .subcat-item-title, .us-breadcrumb-item:last-child, .us-category-appearance-btn.active, .us-category-appearance-btn:hover, .us-product-advantages-item:hover .us-product-advantages-icon i, .us-breadcrumb-item a:hover, .us-column-link:hover, .us-blog-search-btn:hover, .us-blog-post-info-item i, .us-news-block:hover .us-news-block-title, .us-product-tags, .us-product-tags a {color:#71BE00;}
.us-carousel-brands-box, .us-product-nav-item-active a:after, .us-product-nav-item a:hover:after, .us-page-main-title:after {border-color:#71BE00;}
body {background-color:#F2F3F5;}
#top {background:#353e48;}
.btn-link {color:#E5E5E5;}
.btn-link:hover, .btn-link:focus {color:#E5E5E5;}
.us-phone-link, .us-cart-link {color:#71BE00;}
.top-phone-btn, .us-cart-text {color:#333333;}
.menu-row {background-color:#353e48;}
.oct-ultra-menu {background:#71BE00;}
#oct-menu-box:hover .oct-ultra-menu {background-color:#4a5663;}
.oct-ultra-menu {color:#ffffff;}
.oct-menu-li {background:#ffffff;}
.oct-menu-li:hover {background:#F7F7F7;}
.oct-menu-li > a, .oct-menu-li > div > a {color:#333333;}
.oct-menu-li:hover > a, .oct-menu-li:hover > div > a {color:#71BE00;}
.menu-row {color:#E5E5E5;}
.oct-mm-link:hover > a, .oct-mm-simple-link:hover > a {background:#71BE00;}
.oct-mm-parent-title, .oct-mm-child a {color:#333333;}
.oct-mm-child a:hover, .oct-mm-parent-link:hover .oct-mm-parent-title {color:#71BE00;}
footer {background-color:#353e48;}
.us-footer-subscribe-text-text, footer, .us-footer-text, .us-footer-form-bottom label, .us-footer-bottom-credits {color:#DEDEDE;}
.us-footer-link, .us-footer-phone-btn, .us-footer-mail {color:#CBCFD4;}
.us-footer-link:hover, .us-footer-phone-btn:hover, .us-footer-mail:hover {color:#71BE00;}
.us-footer-form-top-input {background:#656c73;}
.us-categories-box {background:#F3F5FB;}
.us-categories-item {color:#666666;}
.us-categories-item.active > span a, .us-categories-item a:hover {color:#71be00;}
.modal-header {background:#71BE00;}
.modal-title {color:#ffffff;}
button.us-close {background:rgba(153, 226, 45, 0.82);}
button.us-close:hover {background:#68af00;}
.us-modal-close-icon {border-color:#ffffff;}
@media screen and (max-width: 991px) {#top {background:#353e48;}}
@media screen and (max-width: 991px) {.us-menu-mobile {background:#71be00;}}
